<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./farmBoxapp.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div>

            <header>
                Cacique
            </header>
        </div>
        <div class="ap-container bordered">
            <div class="resumo-container bordered">
                <div class="resumo-container-app-number">
                    <span><b>AP 127</b></span>
                    <span><b>Aplicação P7</b></span>
                </div>
                <div class="resumo-container-app-area">
                    <span><b>Início:</b> 15/02/2025</span>
                    <span><b>Limite:</b> 22/02/2025</span>
                </div>
                <div class="resumo-container-app-area">
                    <span><b>Área:</b> 276,88 há</span>
                    <span><b>Relizado:</b> 0,00 há</span>
                    <span><b>Saldo:</b> 276,88 há</span>
                </div>
            </div>
            <div class="bordered details-container">
                <div class="parcelas-container">
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    <div class="parcela-detail-container bordered">
                        <div class="detail-variedade-area">
                            <b>A01</b><span>18,40 há</span>
                        </div>
                        <div class="detail-variedade-dap">
                            <span>424</span><span>DAP 100</span>
                        </div>
                    </div>
                    


                </div>
                <div class="bordered-left produtos-conatiner">
                    <div class="header-produtos grid-produtos">
                        <h5>Dose</h5>
                        <h5>Produto</h5>
                        <h5>Total Solicitado</h5>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                    <div class="grid-produtos detail-prod-container">
                        <span>0,750</span>
                        <span>BionD Protec BP</span>
                        <span>26,38</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>