<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./grade.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <div class="main-container-produtos">
            <b>Programa Feijão Caupi</b>
            <span>55 dias</span>
            <span>Area total: 153,05</span>
            <div class="container-produtos-detail">
                <div class="container-produtos-row">
                    <div class="container-produtos-row-detail">
                        <div>0,050 - </div>
                        <div>Legat Reduce</div>
                    </div>
                    <div>
                        <div>7,65</div>
                    </div>
                </div>
                <div class="container-produtos-row">
                    <div class="container-produtos-row-detail">
                        <div>0,050 - </div>
                        <div>Legat Reduce</div>
                    </div>
                    <div>
                        <div>7,65</div>
                    </div>
                </div>
                <div class="container-produtos-row">
                    <div class="container-produtos-row-detail">
                        <div>0,050 - </div>
                        <div>Legat Reduce</div>
                    </div>
                    <div>
                        <div>7,65</div>
                    </div>
                </div>
                <div class="container-produtos-row">
                    <div class="container-produtos-row-detail">
                        <div>0,050 - </div>
                        <div>Legat Reduce</div>
                    </div>
                    <div>
                        <div>7,65</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container-parcelas">
            <table>
                <thead>
                    <tr>
                        <th>Parcela</th>
                        <th>Plantio</th>
                        <th>Dap</th>
                        <th>Cultura</th>
                        <th>Variedade</th>
                        <th>Prev.</th>
                        <th>DapAp</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A02</td>
                        <td>02/05/2024</td>
                        <td>57</td>
                        <td>Feijao</td>
                        <td>Caupi</td>
                        <td>25/06/2024</td>
                        <td>55</td>
                        <td>35,20</td>
                    </tr>
                    <tr>
                        <td>A02</td>
                        <td>02/05/2024</td>
                        <td>57</td>
                        <td>Feijao</td>
                        <td>Caupi</td>
                        <td>25/06/2024</td>
                        <td>55</td>
                        <td>35,20</td>
                    </tr>
                    <tr>
                        <td>A02</td>
                        <td>02/05/2024</td>
                        <td>57</td>
                        <td>Feijao</td>
                        <td>Caupi</td>
                        <td>25/06/2024</td>
                        <td>55</td>
                        <td>35,20</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>