<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./programa.css" />
    <title>Programa</title>
</head>

<body>
    <div class="main-container">
        <div class="header-main-container">
            <h1>Programa Aplicação Arroz 424/RI</h1>
        </div>
        <div class="info-container">
            <span class="safra-info">2023/2024 - 3</span>
            <span class="safra-info">2023/2024 - 3</span>
        </div>
        <div class="program-header-container">
            <div>Estagio</div>
            <div>Produto</div>
            <div>Tipo</div>
            <div>Dose Kg/Lt ha</div>
            <div>Quantidade</div>
            <div>Observação</div>
        </div>
        <div class="program-main-container">
            <div class="programa-grid-container page-break">
                <div class="programa-detail-title">
                        <h4>TRATAMENTO SEMENTE</h4>
                        <h6>DAP: 0</h6>
                </div>
                <div class="program-detail-list">
                    <div>BionD Sollum Ary</div>
                    <div>BionD Sollum Az</div>
                    <div>SEED PLUS</div>
                    <div>PRISMA PLUS</div>
                    <div>UNIZEB GOLD</div>
                    <div>ACTARA</div>
                    <div>SULFATO DE ZINCO</div>
                </div>
                <div class="program-detail-list program-detail-list-type">
                    <div>Biológico</div>
                    <div>Biológico</div>
                    <div>Fertilizante</div>
                    <div>Fungicida</div>
                    <div>Fungicida</div>
                    <div>Inseticida</div>
                    <div>Nutricao</div>
                </div>
                <div class="program-detail-list program-detail-list-dose">
                    <div>0,100</div>
                    <div>0,100</div>
                    <div>0,050</div>
                    <div>0,020</div>
                    <div>0,200</div>
                    <div>0,200</div>
                    <div>0,300</div>
                </div>
                <div class="program-detail-list program-detail-list-quantity">
                    <div>1.098</div>
                    <div>1.098</div>
                    <div>549</div>
                    <div>220</div>
                    <div>2.196</div>
                    <div>2.196</div>
                    <div>3.293</div>
                </div>
                <div></div>
            </div>
            <div class="programa-grid-container">
                <div class="programa-detail-title">
                    <h4>TRATAMENTO SEMENTE</h4>
                    <h6>DAP: 0</h6>
                </div>
                <div class="program-detail-list">
                    <div>BionD Sollum Ary</div>
                    <div>BionD Sollum Az</div>
                    <div>SEED PLUS</div>
                    <div>PRISMA PLUS</div>
                    <div>UNIZEB GOLD</div>
                    <div>ACTARA</div>
                    <div>SULFATO DE ZINCO</div>
                </div>
                <div class="program-detail-list program-detail-list-type">
                    <div>Biológico</div>
                    <div>Biológico</div>
                    <div>Fertilizante</div>
                    <div>Fungicida</div>
                    <div>Fungicida</div>
                    <div>Inseticida</div>
                    <div>Nutricao</div>
                </div>
                <div class="program-detail-list program-detail-list-dose">
                    <div>0,100</div>
                    <div>0,100</div>
                    <div>0,050</div>
                    <div>0,020</div>
                    <div>0,200</div>
                    <div>0,200</div>
                    <div>0,300</div>
                </div>
                <div class="program-detail-list program-detail-list-quantity">
                    <div>1.098</div>
                    <div>1.098</div>
                    <div>549</div>
                    <div>220</div>
                    <div>2.196</div>
                    <div>2.196</div>
                    <div>3.293</div>
                </div>
                <div></div>
            </div>
            <div class="programa-grid-container">
                <div class="programa-detail-title">
                    <h4>TRATAMENTO SEMENTE</h4>
                    <h6>DAP: 0</h6>
                </div>
                <div class="program-detail-list">
                    <div>BionD Sollum Ary</div>
                    <div>BionD Sollum Az</div>
                    <div>SEED PLUS</div>
                    <div>PRISMA PLUS</div>
                    <div>UNIZEB GOLD</div>
                    <div>ACTARA</div>
                    <div>SULFATO DE ZINCO</div>
                </div>
                <div class="program-detail-list program-detail-list-type">
                    <div>Biológico</div>
                    <div>Biológico</div>
                    <div>Fertilizante</div>
                    <div>Fungicida</div>
                    <div>Fungicida</div>
                    <div>Inseticida</div>
                    <div>Nutricao</div>
                </div>
                <div class="program-detail-list program-detail-list-dose">
                    <div>0,100</div>
                    <div>0,100</div>
                    <div>0,050</div>
                    <div>0,020</div>
                    <div>0,200</div>
                    <div>0,200</div>
                    <div>0,300</div>
                </div>
                <div class="program-detail-list program-detail-list-quantity">
                    <div>1.098</div>
                    <div>1.098</div>
                    <div>549</div>
                    <div>220</div>
                    <div>2.196</div>
                    <div>2.196</div>
                    <div>3.293</div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>

</html>